<!-- Banner -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators indicator" style="top:34.25rem">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="carousel-caption caption">
                <p class="capt">Matches are made in heaven..
                    We help you find them..</p>
            </div>
            <img class="first-slide img-fluid sliding" src="../../assets/cover1.jpeg" alt="First slide">
        </div>
        <div class="carousel-item">
                <div class="carousel-caption caption">
                        <p  class="capt">Matches are made in heaven..
                            We help you find them..</p>
                    </div>
            <img class="second-slide img-fluid sliding" src="../../assets/cover2!!.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
                <div class="carousel-caption caption">
                        <p  class="capt">Matches are made in heaven..
                            We help you find them..</p>
                    </div>
            <img class="third-slide img-fluid sliding" src="../../assets/cover3!!.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Trust -->
<div style="background-color:#500312;border-top:4px white solid">
    <br>
    <h4 style="color:white;text-shadow: 0px 1px, 1px 0px, 1px 0px;" class="text-center">Why Trust Us?</h4>
    <br><br>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-6" style="height:6.5rem">
                <img src="../../assets/temple.svg" class="om img-fluid">
            </div>
            <div class="col-md-2 co--sm-6 ">
                <div class="row mobile">
                    <img src="../../assets/verify.png" style="height:4rem">
                    <p style="color: white;font-size:1.3rem;margin-left: 1rem">Offline Verifcation<br>at Temples</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row mobile">
                    <img src="../../assets/Icons/whatsapp.png" style="height:4rem">
                    <p style="color: white;font-size:1.3rem;margin-left: 1rem">Find Matches On<br>Whatsapp</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="row mobile">
                    <img src="../../assets/Nofake.png" style="height:4rem">
                    <p style="color: white;font-size:1.3rem;margin-left: 1rem">100% Authentic<br>Profiles</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row mobile">
                    <img src="../../assets/om.png" style="height:4rem">
                    <p style="color: white;font-size:1.3rem;margin-left: 1rem">Largest Matchmaking<br> Network</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="whatsapp">
    <div class="container" style="padding-top:5%;padding-bottom:2%">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/whatsappImage.png" class="img-fluid whats">
            </div>
            <div class="col-md-6">
                <div class="text">
                    <h3 style="font-weight:bolder" class="text-left center">Find Matches On Whatsapp</h3>
                    <p class="text-justify">We are revolutionizing the way match making is done by utilizing our
                        Whatsapp Assistant. We send
                        profiles directly on your Whatsapp and help you focus on Finalizing your match faster. So come
                        join the bandwagon and</p>
                    <ul style="padding-left:1rem" class="text-justify">
                        <li>Say YES to easy to use Matchmaking Platform</li>
                        <li>Receive INSTANT replies from your matches on Whatsapp</li>
                        <li>Only GENUINE Authentic Profiles</li>
                    </ul>
                    <br><br>
                    <button class="btn btn-danger btn-block buttonCenter" style="width:50%">Register for Free</button>
                </div>
            </div>
        </div>
    </div><br>
    <div class="card" style="background:url(https://wallpapercave.com/wp/2ujUKnj.jpg);height:4rem;margin-left:10%;margin-right:10%;border-radius:0"></div>
</div>
<div class="map-banner">
    <img src="../../assets/diya.png" class="img-fluid diya">
    <div style="margin-left:10%;background-color:rgb(236, 213, 186);margin-right:10%;" class="bot">
        <div class="semi-circle"></div>
        <div class="container" style="padding-top:1%">
            <div class="row">
                <div class="col-md-6">
                    <img src="../../assets/locations.svg" class="img-fluid" style="margin-bottom:1rem">
                </div>
                <div class="col-md-6">
                    <div class="text">
                        <h3 style="font-weight:bolder" class="text-left center">Offline Presence</h3>
                        <p class="text-justify">
                            With a network spanning across 20+ temples we have one of the most extensive databases and
                            reach among all matrimony service providers. Our profiles are verified offline in major
                            temples across the city. Listed below are the temples where our experienced matchmaking
                            representatives are available for registration and verification purposes.
                        </p>
                        <ul style="padding-left:1rem">
                            <li>Largest Offline Network</li>
                            <li>Centralized Database</li>
                            <li>Mature and Experienced Matchmakers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top:8%;padding-bottom:6%">
        <div class="row">
            <div class="col-md-6">
                <div class="text">
                    <h3 style="font-weight:bolder;color:orange" class="text-left center">MatchMaking got Personalized</h3>
                    <br>
                    <p style="color:white" class="text-justify">Personalized matchmaking refers to a service wherein
                        our clients are
                        assigned an exclusive Matchmaker who will work with them throughout the process and help them
                        zero in on their perfect life partner. Our matchmakers meetup with you not only try to
                        understand your basic requirements but also get to know your dreams and aspirations about your
                        perfect life partner. Our experts also accompany you to your meetings when necessary and guide
                        you along the way with their immense relationship experience gained by working with couples
                        over many years. Some features about our personalized service include:
                    </p>
                    <ul style="padding-left:1rem;color: white" class="text-justify">
                        <li>Expert Matchmakers who understand your needs and guide you through every step</li>
                        <li>Organize Regular meetings as per mutual consent and post meeting followup</li>
                        <li>A friendly guide to consult while taking one of the most important decisions of your life</li>
                    </ul>
                </div>
                <button class="btn btn-warning btn-block buttonCenter" style="width:50%">Whatsapp us </button><br>
            </div>
            <div class="col-md-6">
                <img src="../../assets/matchmaking got personalized.jpeg" class="img-fluid" style="border:10px solid orange">
            </div>
        </div>
    </div>
</div>
<div class="team">
    <h3 style="font-weight:bolder;color:black;margin-bottom:0.8em;padding-top:0.8em" class="text-center">Our Team</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img class="rounded-circle" src="../../assets/Aprajita.jpg" alt="Card image cap" style="height:11rem;width:11rem;position:relative;z-index: 2;">
                <div class="card " style="position: relative;top:-5em">
                    <div>
                        <br><br><br><br>
                        <h5 style="color:#DE1868;font-weight: bolder">Aprajita</h5>
                        <h6 style="color:#DE1868;font-weight: bold">CEO</h6>
                        <p style=" text-align: justify;
                        text-justify: inter-word;margin-left:1rem;margin-right:1rem">Armed
                            with law and management degrees from NALSAR University of Law, Hyderabad and Indian School
                            of Business, Hyderabad respectively and an extensive corporate experience spanning over 8
                            years, Aprajita is the face behind the seamless operations at Hans resulting in a hassle
                            free congenial environment for both clients and employees alike.</p><br>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img class="rounded-circle" src="../../assets/Sagar Dewan.jpg" alt="Card image cap" style="height:11rem;width:11rem;position:relative;z-index: 2;">
                <div class="card " style="position: relative;top:-5em">
                    <div>
                        <br><br><br><br>
                        <h5 style="color:#DE1868;font-weight: bolder">Sagar</h5>
                        <h6 style="color:#DE1868;font-weight: bold">CTO</h6>
                        <p style=" text-align: justify;
                            text-justify: inter-word;margin-left:1rem;margin-right:1rem">Stepping
                            out with B.Tech from IIT Madras, start-up bug bit Sagar early. Hans Matrimony is the
                            outcome of his desire to provide best quality professional services in a highly
                            disorganized offline matrimonial space. With his efforts and tech skills he has created the
                            largest offline network for matchmaking in the NCR region to help make your search for your
                            soulmate easy and convenient.</p>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img class="rounded-circle" src="../../assets/Deepak.jpeg" alt="Card image cap" style="height:11rem;width:11rem;position:relative;z-index: 2;">
                <div class="card " style="position: relative;top:-5em">
                    <div>
                        <br><br><br><br>
                        <h5 style="color:#DE1868;font-weight: bolder">Deepak</h5>
                        <h6 style="color:#DE1868;font-weight: bold">Head - Business Development</h6>
                        <p style=" text-align: justify;
                            text-justify: inter-word;margin-left:1rem;margin-right:1rem">Having
                            completed his engineering from Bharati Vidyapeeth, Pune, Deepak is the brain behind the
                            ever-growing Hans network. He along with his team of rock stars has grown Hans at an
                            incredible speed which helps give our clients access to innumerable matching profiles from
                            multiple sources.</p>
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        <br><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron" style="border-radius: 0;background:url(https://wallpapercave.com/wp/2ujUKnj.jpg);margin-bottom: 0">
    <div class="container" style="margin-bottom:1rem">
        <h3 style="font-weight:bolder;color:white" class="text-center">Few Words From Our Clients</h3>
        <br><br>
        <div id="review" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators review-indicators" style="top:19rem">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active pink text-center">
                    <img class="img-fluid client-image" src="../../assets/Review1.jpeg">
                    <h6 style="color:white;font-weight: bold">Kaushik & Anushka</h6>
                    <p style="color:white;">I loved their events which are systematically organized and gives one time to meet a number of matches at the same time. We met at one such event and I recommend their services to everyone. </p>
                </div>
                <div class="carousel-item pink text-center">
                    <div style="text-align:center !important"><img class="img-fluid" src="../../assets/Review2.jpeg"
                            class="client-image"></div>
                    <h6 style="color:white;font-weight: bold">Sahil & Salony </h6>
                    <p style="color:white;">I met the love of my Life through Hans Matrimony. I'm so happy and I could not thank them much. Its so unique concept like who would have thought they would find their life partner on Whatsapp. </p>
                </div>
                <div class="carousel-item pink text-center" >
                    <div style="text-align:center !important"><img class="img-fluid" src="../../assets/photography.jpg"
                            class="client-image"></div>
                    <h6 style="color:white;font-weight: bold">Lakshay & Priya</h6>
                    <p style="color:white">Hans Matrimony is by far the best matrimonial
                        service.
                        Aprajita and her team of matchmakers sieved through thousands of profiles to find me my perfect
                        match.
                        I wish them all the best and highly recommend their services. </p>
                </div>
            </div>
            <a class="carousel-control-prev" href="#review" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#review" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div><img src="../../assets/address.png" class="img-fluid"></div>
<div class="container-fluid" style="padding-left:0;padding-right:0">
    <div class="purple">
        <div class="container" style="background-color:white;">
            <h3 class="text-center" style="font-weight:bolder;padding-top:1rem ">Request A Call Back</h3>
            <br>
            <div class="row">
                <div class="col-md-3 text-center">
                    <mat-form-field>
                        <input matInput placeholder="Name" value="Gaurav Kulkarni" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3 text-center">
                    <mat-form-field>
                        <input matInput placeholder="Email" value="Xyz@gmail.com" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3 text-center">
                    <mat-form-field>
                        <input matInput placeholder="Phone Number" value="9435434453" required>
                    </mat-form-field>
                </div>
                <div class="col-md-3 text-left">
                    <button class="btn btn-outline-danger">Submit</button>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>
